rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      // Allow user to read and write their own profile
      // New users can create their own profile
      allow read, write: if isOwner(userId);

      match /chats/{chatId} {
        // Allow user to read and write their own chats
        allow read, write: if isOwner(userId);

        match /messages/{messageId} {
          // Allow user to read and write their own messages
          allow read, write: if isOwner(userId);
        }
      }
    }
  }
}
